
html {
	font-family: sans-serif;
}

body {
	background-color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
}

.banner {
	position: relative;
	height: 600px;
	width: 100%;
	overflow: hidden;
}
	.banner>img {
		width: 100%;
		margin-top: -25%;
	}

/* Testi */
h1 {
	margin: 0;
	margin-right: 10vh;
	font-size: 40px;
	color: rgb(255, 255, 0);
}

.title {
	margin-left: 0;
	font-size: 90px;
	color: rgb(255, 255, 0)
}

p {
	font-size: 30px;
	color: rgb(255, 255, 255);
}

a {
	text-decoration: none;
}

.home {
	min-height: 80vh;
	padding: 20px;
	padding-bottom: 100px;
	position: relative;
	display: block;
}

/* Contenuto */
.container {
	min-height: 80vh;
	top: 20vh;
	padding-bottom: 100px;
	position: relative;
	display: block;
}

/* Header */
.header {
	background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
	top: 0;
	width: 100%;
	padding: 20px;
	position: fixed;
	display: flex;
}


/* Responsive versione mobile */
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 20px;
		margin-left: 5vh;
		margin-right: 20vh;
	}

	.banner {
		height: 150px;
	}

	.banner>img {
		display: none;
	}

	.title {
		font-size: 40px;
	}

	.container>img {
		max-width: 100%;
	}

	.container>a {
		font-size: 20px;
	}

  }