
html {
	font-family: sans-serif;
}

body {
	background-color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
}

.banner {
	position: relative;
	height: 600px;
	width: 100%;
	overflow: hidden;
}
	.banner>img {
		width: 100%;
		margin-top: -25%;
	}

/* Testi */
h1 {
	margin: 0;
	font-size: 30px;
	color: rgb(255, 255, 0);
}

.title {
	font-size: 70px;
}

p {
	font-size: 30px;
	color: rgb(225, 225, 225);
}

.evidenziatore {
	font-size: 30px;
	color: rgb(255, 255, 0);
}

span {
	font-size: 18px;
	color: rgb(120, 120, 120);
}

a {
	font-size: 30px;
	color: rgb(225, 225, 0);
	text-decoration: none;
}

.home {
	min-height: 80vh;
	padding: 20px;
	padding-bottom: 100px;
	position: relative;
	display: block;
}

/* Contenuto */
.container {
	min-height: 80vh;
	top: 20vh;
	padding-bottom: 100px;
	position: relative;
	display: block;
}

/* Header */
.header {
	background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
	top: 0;
	width: 100%;
	padding: 20px;
	position: fixed;
	display: flex;
}

	.header>a {
		font-size: 30px;
		color: rgb(255, 255, 0);
		margin-right: 15vh;
	}


/* Responsive versione mobile */
@media only screen and (max-width: 800px) {
	h1 {
		font-size: 20px;
	}

	.header>a {
		font-size: 20px;
		margin-right: 5vh;
	}

	.banner {
		height: 350px;
	}

	.title {
		font-size: 40px;
	}

	.container>img {
		max-width: 100%;
	}

	.container>a {
		font-size: 20px;
	}

  }